In [5]:
import sys
import os


repo_path = "C:/Users/ASUS/Documents/ScraperFC-main/src"

if repo_path not in sys.path:
    sys.path.append(repo_path)


import ScraperFC as sfc

fb = sfc.FBref()

In [9]:
match = fb.scrape_match('https://fbref.com/en/matches/67ed3ba2/Brentford-Tottenham-Hotspur-August-13-2023-Premier-League')

In [9]:
cap = sfc.Capology()
pl_salaries = cap.scrape_salaries("2024-25", "England Premier League", "eur")

Changed currency to eur.

In [11]:
pl_salaries

                        EST. BASE SALARY                                     \
                 PLAYER GROSS P/W\n(EUR) GROSS P/Y\n(EUR) ADJ. GROSS\n(EUR)
0        Erling Haaland        € 594,497     € 30,913,862      € 30,913,862
1         Mohamed Salah        € 452,950     € 23,553,419      € 23,553,419
2       Kevin De Bruyne        € 452,950     € 23,553,419      € 23,553,419
3       Virgil van Dijk        € 396,332     € 20,609,241      € 20,609,241
4              Casemiro        € 396,332     € 20,609,241      € 20,609,241
..                  ...              ...              ...               ...
765       Romain Faivre              € 0              € 0               € 0
766      Philip Billing              € 0              € 0               € 0
767       George Earthy              € 0              € 0               € 0
768        Gideon Kodua              € 0              € 0               € 0
769  Detlef Esapa Osong              € 0              € 0               € 0

     BIO
    POS. AGE      COUNTRY               CLUB
0      F  24       Norway    Manchester City
1      F  32        Egypt          Liverpool
2      F  33      Belgium    Manchester City
3      D  33  Netherlands          Liverpool
4      M  32       Brazil  Manchester United
..   ...  ..          ...                ...
765    M  26       France        Bournemouth
766    M  28      Denmark        Bournemouth
767    F  20      England           West Ham
768    F  20      England           West Ham
769    F  20      England  Nottingham Forest

[770 rows x 8 columns]

In [13]:
import os 

documents = os.path.join(os.path.expanduser("~"), "Documents")

filename = "pl_wages_24-25.csv"
pl_salaries.to_csv(os.path.join(documents, filename), index=False)

In [15]:
fr_salaries = cap.scrape_salaries("2024-25", "France Ligue 1", "eur")

filename = "fr_wages_24-25.csv"
fr_salaries.to_csv(os.path.join(documents, filename), index=False)

Changed currency to eur.

In [16]:
gr_salaries = cap.scrape_salaries("2024-25", "Germany Bundesliga", "eur")

filename = "gr_wages_24-25.csv"
gr_salaries.to_csv(os.path.join(documents, filename), index=False)

Changed currency to eur.

In [17]:
it_salaries = cap.scrape_salaries("2024-25", "Italy Serie A", "eur")

filename = "it_wages_24-25.csv"
it_salaries.to_csv(os.path.join(documents, filename), index=False)

Changed currency to eur.

In [18]:
sp_salaries = cap.scrape_salaries("2024-25", "Spain La Liga", "eur")

filename = "sp_wages_24-25.csv"
sp_salaries.to_csv(os.path.join(documents, filename), index=False)

Changed currency to eur.

In [14]:
leaguesList = ['England Premier League', 'France Ligue 1', 'Germany Bundesliga', 'Italy Serie A', 'Spain La Liga']

In [20]:
documents = os.path.join(os.path.expanduser("~"), "Documents")

for league in leaguesList:
    players = tm.scrape_players("24/25", league)
    filename = f"{league}_values_24-25.csv"
    players.to_csv(os.path.join(documents, filename), index=False)
    print(f"Saved {filename}")

24/25 England Premier League player links: 100%|██████████| 20/20 [00:49<00:00,  2.45s/it]
24/25 Italy Serie A players: 100%|██████████| 1601/1601 [42:22<00:00,  1.59s/it]  /s] s]

Saved Italy Serie A_values_24-25.csv

24/25 Spain La Liga player links: 100%|██████████| 20/20 [00:48<00:00,  2.40s/it]
24/25 Spain La Liga players: 100%|██████████| 1490/1490 [22:27<00:00,  1.11it/s]

Saved Spain La Liga_values_24-25.csv